:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 2rem; */
  padding: 0;
  text-align: center;
}

.explore{
  @apply bg-slate-600 px-2 py-1 text-white hover:bg-[#ED2127] rounded-sm duration-500 mt-10
}


